<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
<h1 class="text-center">Eventus</h1>
<div class="text-center">
<div class="container">
<script src="lib/jquery/dist/jquery.min.js"></script>
	<%- body %>
</div>
</div>
</body>
</html>